<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>SwissTransfer</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Film</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>public.video</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
				<string>public.source-code</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.xml</string>
				<string>public.json</string>
				<string>public.html</string>
				<string>com.adobe.pdf</string>
				<string>public.archive</string>
				<string>public.disk-image</string>
				<string>public.font</string>
				<string>public.spreadsheet</string>
				<string>public.presentation</string>
				<string>public.database</string>
				<string>public.executable</string>
				<string>public.unix-executable</string>
				<string>public.email-message</string>
				<string>public.calendar-event</string>
				<string>public.vcard</string>
				<string>public.3d-content</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3g2</string>
				<string>3gp</string>
				<string>3gp2</string>
				<string>3gpp</string>
				<string>7z</string>
				<string>aa</string>
				<string>aac</string>
				<string>aaf</string>
				<string>aar</string>
				<string>aax</string>
				<string>abc</string>
				<string>ac3</string>
				<string>ada</string>
				<string>adb</string>
				<string>ads</string>
				<string>adts</string>
				<string>aea</string>
				<string>afdesign</string>
				<string>afphoto</string>
				<string>afploc</string>
				<string>afpub</string>
				<string>ahap</string>
				<string>ai</string>
				<string>aif</string>
				<string>aifc</string>
				<string>aiff</string>
				<string>alac</string>
				<string>amr</string>
				<string>apk</string>
				<string>applescript</string>
				<string>arobject</string>
				<string>arw</string>
				<string>as</string>
				<string>asf</string>
				<string>ass</string>
				<string>asx</string>
				<string>atrc</string>
				<string>atx</string>
				<string>au</string>
				<string>aupreset</string>
				<string>avchd</string>
				<string>avci</string>
				<string>avcs</string>
				<string>avi</string>
				<string>avif</string>
				<string>avro</string>
				<string>azw</string>
				<string>azw3</string>
				<string>bak</string>
				<string>band</string>
				<string>bash</string>
				<string>bat</string>
				<string>bin</string>
				<string>blend</string>
				<string>bmp</string>
				<string>bwf</string>
				<string>bz</string>
				<string>bz2</string>
				<string>c</string>
				<string>cab</string>
				<string>caf</string>
				<string>cbr</string>
				<string>cbz</string>
				<string>cc</string>
				<string>ccl</string>
				<string>cdda</string>
				<string>cdr</string>
				<string>cel</string>
				<string>cer</string>
				<string>cfg</string>
				<string>cjs</string>
				<string>class</string>
				<string>clr</string>
				<string>cmd</string>
				<string>conf</string>
				<string>cp</string>
				<string>cpgz</string>
				<string>cpio</string>
				<string>cpp</string>
				<string>cr2</string>
				<string>cr3</string>
				<string>crash</string>
				<string>crt</string>
				<string>cs</string>
				<string>csh</string>
				<string>css</string>
				<string>csstore</string>
				<string>csv</string>
				<string>cxx</string>
				<string>dae</string>
				<string>dat</string>
				<string>db</string>
				<string>dcm</string>
				<string>deb</string>
				<string>defs</string>
				<string>der</string>
				<string>dext</string>
				<string>dfont</string>
				<string>dib</string>
				<string>dicom</string>
				<string>dif</string>
				<string>diff</string>
				<string>dist</string>
				<string>distz</string>
				<string>djvu</string>
				<string>dll</string>
				<string>dls</string>
				<string>dlyan</string>
				<string>dmg</string>
				<string>dng</string>
				<string>doc</string>
				<string>docm</string>
				<string>docx</string>
				<string>dot</string>
				<string>dotm</string>
				<string>dotx</string>
				<string>drawing</string>
				<string>dsym</string>
				<string>dv</string>
				<string>dwg</string>
				<string>dxf</string>
				<string>dylib</string>
				<string>eac3</string>
				<string>ec3</string>
				<string>edn</string>
				<string>efx</string>
				<string>eml</string>
				<string>env</string>
				<string>eot</string>
				<string>eps</string>
				<string>epub</string>
				<string>etd</string>
				<string>exe</string>
				<string>exp</string>
				<string>exr</string>
				<string>f</string>
				<string>f4a</string>
				<string>f4b</string>
				<string>f4p</string>
				<string>f4v</string>
				<string>f77</string>
				<string>f90</string>
				<string>f95</string>
				<string>fbx</string>
				<string>fcpproj</string>
				<string>fdf</string>
				<string>fig</string>
				<string>fileloc</string>
				<string>fish</string>
				<string>fits</string>
				<string>flac</string>
				<string>flc</string>
				<string>fli</string>
				<string>flv</string>
				<string>for</string>
				<string>fpbf</string>
				<string>fpx</string>
				<string>fs</string>
				<string>ftploc</string>
				<string>gba</string>
				<string>gbproj</string>
				<string>geojson</string>
				<string>gif</string>
				<string>glb</string>
				<string>gltf</string>
				<string>gmk</string>
				<string>go</string>
				<string>gpurestart</string>
				<string>gtar</string>
				<string>gz</string>
				<string>gzip</string>
				<string>h</string>
				<string>h5</string>
				<string>hang</string>
				<string>hdf</string>
				<string>heic</string>
				<string>heics</string>
				<string>heif</string>
				<string>heifs</string>
				<string>hh</string>
				<string>hif</string>
				<string>hp</string>
				<string>hpp</string>
				<string>hqx</string>
				<string>htm</string>
				<string>html</string>
				<string>hxx</string>
				<string>i</string>
				<string>icc</string>
				<string>icloud</string>
				<string>icm</string>
				<string>icns</string>
				<string>ico</string>
				<string>iconset</string>
				<string>ics</string>
				<string>iges</string>
				<string>ii</string>
				<string>iig</string>
				<string>img</string>
				<string>indd</string>
				<string>inetloc</string>
				<string>ini</string>
				<string>inl</string>
				<string>ipa</string>
				<string>ipp</string>
				<string>ips</string>
				<string>iso</string>
				<string>itms</string>
				<string>j2c</string>
				<string>j2k</string>
				<string>jar</string>
				<string>jav</string>
				<string>java</string>
				<string>javascript</string>
				<string>jfx</string>
				<string>jnlp</string>
				<string>jp2</string>
				<string>jpe</string>
				<string>jpeg</string>
				<string>jpf</string>
				<string>jpg</string>
				<string>jpx</string>
				<string>js</string>
				<string>jscript</string>
				<string>json</string>
				<string>jsonl</string>
				<string>jsx</string>
				<string>jxl</string>
				<string>kar</string>
				<string>key</string>
				<string>key-tef</string>
				<string>ksh</string>
				<string>kt</string>
				<string>kth</string>
				<string>ktrace</string>
				<string>kts</string>
				<string>l</string>
				<string>latm</string>
				<string>less</string>
				<string>lid</string>
				<string>ll</string>
				<string>lm</string>
				<string>lmm</string>
				<string>loas</string>
				<string>lock</string>
				<string>log</string>
				<string>lpdf</string>
				<string>lpp</string>
				<string>lxx</string>
				<string>lzma</string>
				<string>m</string>
				<string>m15</string>
				<string>m2ts</string>
				<string>m2v</string>
				<string>m3u</string>
				<string>m3u8</string>
				<string>m4a</string>
				<string>m4b</string>
				<string>m4p</string>
				<string>m4r</string>
				<string>m4v</string>
				<string>m75</string>
				<string>mailloc</string>
				<string>mak</string>
				<string>make</string>
				<string>markdown</string>
				<string>mat</string>
				<string>md</string>
				<string>menu</string>
				<string>mi</string>
				<string>mid</string>
				<string>midi</string>
				<string>mig</string>
				<string>mii</string>
				<string>minc</string>
				<string>mjs</string>
				<string>mk</string>
				<string>mkv</string>
				<string>mlkitmodel</string>
				<string>mlmodel</string>
				<string>mlpackage</string>
				<string>mm</string>
				<string>mnc</string>
				<string>mobi</string>
				<string>mobile</string>
				<string>mobileconfig</string>
				<string>mov</string>
				<string>mp2</string>
				<string>mp3</string>
				<string>mp4</string>
				<string>mpe</string>
				<string>mpeg</string>
				<string>mpg</string>
				<string>mpg4</string>
				<string>mpga</string>
				<string>mpkg</string>
				<string>mpo</string>
				<string>msg</string>
				<string>msi</string>
				<string>mtlx</string>
				<string>mts</string>
				<string>mxf</string>
				<string>mxi</string>
				<string>mxif</string>
				<string>nc</string>
				<string>ndjson</string>
				<string>nds</string>
				<string>nef</string>
				<string>nes</string>
				<string>newsloc</string>
				<string>nii</string>
				<string>nmbtemplate</string>
				<string>numbers</string>
				<string>numbers-tef</string>
				<string>nvdb</string>
				<string>o</string>
				<string>obj</string>
				<string>odb</string>
				<string>odc</string>
				<string>odf</string>
				<string>odg</string>
				<string>odi</string>
				<string>odm</string>
				<string>odp</string>
				<string>ods</string>
				<string>odt</string>
				<string>ofd</string>
				<string>oga</string>
				<string>ogg</string>
				<string>omf</string>
				<string>opus</string>
				<string>order</string>
				<string>orf</string>
				<string>otc</string>
				<string>otf</string>
				<string>otg</string>
				<string>oth</string>
				<string>oti</string>
				<string>otp</string>
				<string>ots</string>
				<string>ott</string>
				<string>p12</string>
				<string>p7b</string>
				<string>pages</string>
				<string>pages-tef</string>
				<string>panic</string>
				<string>paperkit</string>
				<string>parquet</string>
				<string>pas</string>
				<string>patch</string>
				<string>pax</string>
				<string>pb</string>
				<string>pch</string>
				<string>pct</string>
				<string>pdf</string>
				<string>pem</string>
				<string>pf</string>
				<string>pfa</string>
				<string>pfb</string>
				<string>pfx</string>
				<string>ph3</string>
				<string>ph4</string>
				<string>php</string>
				<string>php3</string>
				<string>php4</string>
				<string>phtml</string>
				<string>pic</string>
				<string>pict</string>
				<string>pictclipping</string>
				<string>pkg</string>
				<string>pkpass</string>
				<string>pkpasses</string>
				<string>pl</string>
				<string>placeholder</string>
				<string>plist</string>
				<string>pls</string>
				<string>pluginkit</string>
				<string>ply</string>
				<string>pm</string>
				<string>png</string>
				<string>pntg</string>
				<string>pot</string>
				<string>potm</string>
				<string>potx</string>
				<string>ppp</string>
				<string>pps</string>
				<string>ppsm</string>
				<string>ppsx</string>
				<string>ppt</string>
				<string>pptm</string>
				<string>pptx</string>
				<string>proto</string>
				<string>ps</string>
				<string>ps1</string>
				<string>psb</string>
				<string>psd</string>
				<string>pvt</string>
				<string>py</string>
				<string>pyc</string>
				<string>qt</string>
				<string>qta</string>
				<string>qti</string>
				<string>qtif</string>
				<string>qtz</string>
				<string>r</string>
				<string>ra</string>
				<string>ram</string>
				<string>rar</string>
				<string>raw</string>
				<string>rb</string>
				<string>rbw</string>
				<string>reality</string>
				<string>rm</string>
				<string>rmvb</string>
				<string>rom</string>
				<string>rpm</string>
				<string>rs</string>
				<string>rss</string>
				<string>rst</string>
				<string>rtf</string>
				<string>rw2</string>
				<string>s</string>
				<string>sav</string>
				<string>savedsearch</string>
				<string>scc</string>
				<string>scn</string>
				<string>scnz</string>
				<string>scpt</string>
				<string>scptd</string>
				<string>scss</string>
				<string>sd2</string>
				<string>sda</string>
				<string>sdc</string>
				<string>sdd</string>
				<string>sdef</string>
				<string>sdp</string>
				<string>sdv</string>
				<string>sdw</string>
				<string>sea</string>
				<string>service</string>
				<string>sf2</string>
				<string>sfc</string>
				<string>sgi</string>
				<string>sh</string>
				<string>shtm</string>
				<string>shtml</string>
				<string>sidx</string>
				<string>sit</string>
				<string>sitx</string>
				<string>sketch</string>
				<string>skp</string>
				<string>slidesaver</string>
				<string>smc</string>
				<string>smf</string>
				<string>snd</string>
				<string>sndclipping</string>
				<string>spin</string>
				<string>sql</string>
				<string>sqlite</string>
				<string>sqlite3</string>
				<string>srt</string>
				<string>stc</string>
				<string>std</string>
				<string>step</string>
				<string>sti</string>
				<string>stl</string>
				<string>stp</string>
				<string>stw</string>
				<string>sub</string>
				<string>suit</string>
				<string>svelte</string>
				<string>svg</string>
				<string>svgz</string>
				<string>swift</string>
				<string>sxc</string>
				<string>sxd</string>
				<string>sxg</string>
				<string>sxi</string>
				<string>sxm</string>
				<string>sxw</string>
				<string>synced</string>
				<string>tar</string>
				<string>tbz</string>
				<string>tbz2</string>
				<string>tcsh</string>
				<string>template</string>
				<string>tex</string>
				<string>text</string>
				<string>textclipping</string>
				<string>tga</string>
				<string>tgz</string>
				<string>theater</string>
				<string>tif</string>
				<string>tiff</string>
				<string>toast</string>
				<string>toml</string>
				<string>torrent</string>
				<string>ts</string>
				<string>tsv</string>
				<string>tsx</string>
				<string>ttc</string>
				<string>ttf</string>
				<string>txt</string>
				<string>txz</string>
				<string>ul</string>
				<string>ulaw</string>
				<string>ulw</string>
				<string>url</string>
				<string>usd</string>
				<string>usda</string>
				<string>usdc</string>
				<string>usdz</string>
				<string>uu</string>
				<string>vcal</string>
				<string>vcard</string>
				<string>vcf</string>
				<string>vcs</string>
				<string>vdb</string>
				<string>vfw</string>
				<string>vncloc</string>
				<string>vob</string>
				<string>vtt</string>
				<string>vue</string>
				<string>w64</string>
				<string>war</string>
				<string>watchface</string>
				<string>wav</string>
				<string>wave</string>
				<string>wax</string>
				<string>wdgt</string>
				<string>webarchive</string>
				<string>webloc</string>
				<string>webm</string>
				<string>webp</string>
				<string>webplugin</string>
				<string>wm</string>
				<string>wma</string>
				<string>wmp</string>
				<string>wmv</string>
				<string>wmx</string>
				<string>woff</string>
				<string>woff2</string>
				<string>wvx</string>
				<string>xar</string>
				<string>xbm</string>
				<string>xcevalresult</string>
				<string>xd</string>
				<string>xfd</string>
				<string>xfdf</string>
				<string>xht</string>
				<string>xhtm</string>
				<string>xhtml</string>
				<string>xip</string>
				<string>xla</string>
				<string>xls</string>
				<string>xlsb</string>
				<string>xlsm</string>
				<string>xlsx</string>
				<string>xlt</string>
				<string>xltm</string>
				<string>xltx</string>
				<string>xlw</string>
				<string>xml</string>
				<string>xpc</string>
				<string>xz</string>
				<string>y</string>
				<string>yaa</string>
				<string>yaml</string>
				<string>ym</string>
				<string>yml</string>
				<string>ymm</string>
				<string>ypp</string>
				<string>yxx</string>
				<string>yy</string>
				<string>z</string>
				<string>zip</string>
				<string>zsh</string>
				<string>zst</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Fichier</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>SwissTransfer</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.selim.swisstransfer</string>
	<key>CFBundleName</key>
	<string>SwissTransfer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.4</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
